body{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    background-color: #FFDCE8;
    padding-left: 2rem /* 32px */;
    padding-right: 2rem /* 32px */;
}
@media (min-width: 1024px){
    body {
        padding-left: 6rem; /* 96px */
        padding-right: 6rem; /* 96px */
    }
}
.header{
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
    font-weight: bold;
    margin-top:0;
    margin-bottom:0;
}
.homepageImage{
    max-width: 400px;
    height: auto;
    width: 100%;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    padding-top: 3rem /* 48px */;
    padding-bottom: 3rem /* 48px */;
    gap: 4rem /* 64px */;
}
.margin{
    margin-top: 2rem /* 32px */;
}
.rectangle{
    display: flex;
    justify-content: space-between;
    background-color: #FEEDF5;
    padding: 1rem /* 16px */;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.12);
}
.rect_text{
    margin-top:0;
    margin-bottom:0;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}
@media (min-width: 768px){
    .rect_text{
        font-size: 1rem /* 16px */;
        line-height: 1.5rem /* 24px */;
    }
}
.cardMargins{
    display: flex;
    flex-direction: column;
    gap: 0.5rem /* 8px */;
}
.updateMargin{
    margin-top: 2rem /* 32px */;
}
.projectCard{
    margin-top: 1rem;  /* 16px */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;  /* 8px */
}
@media (min-width: 1024px){
    .projectCard {
        flex-direction: row;
    }
}
.project-info{
    display: flex;
    flex-direction: column;
    background-color: #FEEDF5;
    padding: 1rem; /* 16px */
    border-radius: 0.5rem; /* 8px */
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
    .project-info {
        padding: 2rem; /* 32px */
    }
}
@media (min-width: 1024px) {
    .project-info {
        width: 33.3333%;
    }
}
.projectTitle{
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 600;
    margin-top:0;
    margin-bottom:0;
}
.spacing{
    display:flex;
    flex-direction: column;
    gap:1rem /* 16px */;
}
.projectText{
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    margin-top:0;
    margin-bottom:0;
}