.aboutButton{
    background-color:#FEEDF5;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.375rem; /* Equivalent to rounded-md in Tailwind */
    font-size: 0.875rem; /* Equivalent to text-sm */
    font-weight: 500;
    padding: 0.5rem 1rem;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.12);
}
.introP{
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    margin-top:0;
    margin-bottom:0;
}
@media (min-width: 1024px) {
    .introP{
        font-size: 1rem /* 16px */;
        line-height: 1.5rem /* 24px */;
    }
}
.introTextDiv{
    display:flex;
    flex-direction: column;
    gap: 1.5rem /* 24px */;
}
@media (min-width: 1024px) {
    .header{
        font-size: 2.25rem /* 36px */;
        line-height: 2.5rem /* 40px */;
        
    }
    .introDiv{
        gap: 1rem /* 0px */;
    }
}
.introDiv{
    display: flex;
    flex-direction: column;
    gap: 2rem /* 16px */;
}
@media (min-width: 768px) {
    .introDiv{
        flex-direction: row;
        align-items: center;
    }
}
.dateText{
    display:none;
    margin-top:0;
    margin-bottom:0;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}
@media (min-width: 768px) {
    .dateText{
        display:block;
        font-size: 1rem /* 16px */;
        line-height: 1.5rem /* 24px */;
    }
}
.updateMargin{
    margin-top: 2rem /* 32px */;
    margin-bottom: 2rem /* 32px */;
}
.updateTextMargin{
    margin-bottom: 1rem /* 16px */;
}
.mobileMargin{
    margin-top: 2rem /* 32px */;
}
@media (min-width: 1024px) {
    .mobileMargin{
        margin-top: 0px;
    }
}
