.aboutMeContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem /* 16px */;
    margin-top:1rem;
}
.upToText{
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
    margin-top:0;
    margin-bottom:0;
}
@media (min-width: 768px) {
    .upToText{
        font-size: 1.125rem /* 18px */;
        line-height: 1.75rem /* 28px */;
    }
}
.upToContainer{
    margin-top: 1rem /* 16px */;
    display: flex;
    flex-direction: column;
    gap: 1rem /* 16px */;
}
.currPrevContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem /* 16px */;
}
.qualHeader{
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
    font-weight: bold;
    margin-top:2rem;
    margin-bottom:0rem ;
}
@media (min-width: 1024px) {
    .qualHeader{
        font-size: 2.25rem /* 36px */;
        line-height: 2.5rem /* 40px */;
        
    }
}
.resumeContainer{
    background-color: #FEEDF5;
    justify-content: center; 
    margin-top:4rem;
    margin-left: -2rem; /* 96px */
    margin-right: -2rem; /* 96px */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.12);
    max-height:18rem;
    align-items:center;
    margin-bottom:4rem;
}
@media (min-width: 1024px){
    .resumeContainer{
        margin-left: -6rem; /* 96px */
        margin-right: -6rem; /* 96px */
    }
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 2rem; /* 96px */
    margin-right: 2rem; /* 96px */
    max-height:18rem;
}
@media (min-width: 1024px){
    .banner{
        margin-left: 6rem; /* 96px */
        margin-right: 6rem; /* 96px */
    }
}
.bannerText{
    font-size: 1.25rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    margin-top:0;
    margin-bottom:0.5rem;
}
.bannerPara{
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
    margin-top:0;
    margin-bottom:0rem;
}
.rect_text2{
    margin-top:1rem;
    margin-bottom:1rem;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}
@media (min-width: 768px){
    .rect_text2{
        font-size: 1rem /* 16px */;
        line-height: 1.5rem /* 24px */;
    }
}
.rect_text3{
    margin-top:1rem;
    margin-bottom:0rem;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}
@media (min-width: 768px){
    .rect_text3{
        font-size: 1rem /* 16px */;
        line-height: 1.5rem /* 24px */;
    }
}
